<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <meta name="description" content="AngularJS">
  <meta name="author" content="Me">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="app.module.js"></script>
</head>
<body>
  <div ng-controller="home">
    <label for="task">Task:</label>
    <input type="text" name="task" id="task" ng-model="task" placeholder="Do something..." />
    <input type="button" ng-click="save(task)" value="Save" />
    <br>
    <ul ng-if="tasks.length">
      <li ng-repeat="task in tasks">
        {{$index}} {{task.date}} - {{task.name}}
        <font color="red" ng-click="remove(task)">X</font>
      </li>
    </ul>
  </div>
</body>
</html>