{
    "ConnectionStrings": {
        "mssql": "Server={{ DB_HOST }};User Id={{ DB_USER }};Password={{ DB_PASSWORD }};Database={{ DB_NAME }}"
    },
    "Logging": {
        "IncludeScopes": false,
        "LogLevel": {
            "Default": "Trace"
        }
    },
    "ApplicationInsights": {
        "LogLevel": {
            "Default": "None"
        }
    }
}
