<main class="main">
  <h2>ng-todo</h2>

  <form (ngSubmit)="add();todoForm.reset();" #todoForm="ngForm">
    <input class="todo-form__title" name="title"
      placeholder="What's need to do ?" required autocomplete="off"
      [(ngModel)]="newTodoTitle"
    >
    <button class="todo-form__submit" type="submit" [disabled]="todoForm.form.invalid">add</button>
  </form>

  <section class="todo-list" *ngIf="todos.length">

    <div class="todo-list__item" *ngFor="let todo of todos">
      <div class="todo-list__task" [class.isEditing]="todo.editing">
        <input type="checkbox" [checked]="todo.completed" (click)="toggle(todo)">
        <span class="todo-list__title"
          (dblclick)="toggleEditing(todo, newTitle);"
          (contextmenu)="toggleEditing(todo, newTitle, $event);"
        >
          {{ todo.title }}
        </span>
        <button class="todo-list__remove" (click)="removeTask(todo)"></button>
      </div>

      <input type="text" class="todo-list__edit"
        #newTitle
        (blur)="saveEditing(todo, newTitle.value);"
        (keyup.enter)="saveEditing(todo, newTitle.value);"
        (keyup.escape)="toggleEditing(todo);"
      >
    </div>

    <br>
    <a href="#" (click)="togleAll($event)">toggleAll();</a>
    <br>
    <a href="#" (click)="removeCompleted($event)">removeCompleted();</a>
  </section>

</main>